{{template "base" .}}

{{define "title"}}About - SnippetBox{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, animi ea
        esse ex exercitationem, fuga incidunt maiores nam natus nihil optio, porro
        quae quam quo sequi temporibus totam vel veritatis! Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Aliquid, commodi consequatur consequuntur culpa
        deleniti dignissimos eligendi eum, mollitia nam possimus quam repellat sint
        tempora vel voluptates? Ducimus ea laborum maxime.</p>
{{end}}
