{{template "base" .}}

{{define "title"}}Change password{{end}}

{{define "main"}}
    <h2>Change Password</h2>
    <form action='/user/change-password' method='POST' novalidate>
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        {{with .Form}}
            <div>
                {{with .Errors.Get "current"}}
                    <label class='error'>{{.}}</label>
                {{end}}
                <label>Current password:</label>
                <input type='password' name='current'>
            </div>
            <div>
                {{with .Errors.Get "new"}}
                    <label class='error'>{{.}}</label>
                {{end}}
                <label>New password:</label>
                <input type='password' name='new'>
            </div>
            <div>
                {{with .Errors.Get "confirm"}}
                    <label class='error'>{{.}}</label>
                {{end}}
                <label>Confirm password:</label>
                <input type='password' name='confirm'>
            </div>
            <div>
                <input type="submit" value="Change password">
            </div>
        {{end}}
    </form>
{{end}}